<p>
  invoice-form works!
</p>

<h2>Add Invoice</h2>
<form name="myform" (ngSubmit)="onSubmit(f)" #f = "ngForm">
  <div class="form-group">
    <label for="name">Product Name</label>
    <input type="text"
            class="form-control"
            id="name"
            name = "name"
            required
            [(ngModel)] = "invoiceF.name"
              > 

              <span ng-show="myform.name.$error.required">Please fill product name!</span>
            <!--if(){text not}  -->
  </div>
  <div class="form-group">
    <label for="count">Count</label>
    <input type="text"
            class="form-control"
            id="count"
            name = "count"
            required
            placeholder = '1000'
            [(ngModel)] = "invoiceF.count"
            >
           
  </div>
  <button type="submit" class="btn btn-primary" >Save invoice</button>
</form>
