<h1>
  invoices!
</h1>
<nav>
  <a routerLink = "/invoicesForm">Invoices form</a>|
  <a routerLink = "/invoices">Invoices</a>|
  <!--<a routerLink = "/products">Products</a>-->
</nav>
<router-outlet></router-outlet>

