<jce-invoice-form (invoiceAddedEvent) = "addInvoice($event)"></jce-invoice-form>
<br>
<h1>List of invoice</h1>
<jce-spinner [visible]="isLoading"></jce-spinner>
<div>
  <ul class="list-group users">
    <li *ngFor = "let invoice of invoices"  [class.active]="currentInvoice == invoice" 
        (click) = "select(invoice)"
        class="list-group-item" >
        <jce-invoice [invoice] = "invoice"></jce-invoice>
    </li>
  </ul>
</div>
