

<div>
  <head>
      <style>
          table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
          }
          th, td {
              padding: 15px;
          }
      </style>
  </head>
      
      <h3>Products Table</h3>
      <table style="width:50%">
        
          <tr>
            <th>Id</th>
            <th>Name</th> 
            <th>Cost</th>
            <th>Category ID</th>
          </tr>

          <tr *ngFor = "let product of products">
            <td *ngFor = "let property of proprties">
            <jce-product [productVar] = "product" [properrty] = "property" (deleteEvent)="deleteProduct($event)"></jce-product>
            </td>
          </tr>
      </table>


 <h3>Products Table With Join</h3>
      <table style="width:50%">
        
          <tr>
            <th>Id</th>
            <th>Name</th> 
            <th>Cost</th>
            <th>Category Name</th>
          </tr>

          <tr *ngFor = "let product of products">
            <td *ngFor = "let property of proprtiesJoin">
                <jce-product [productVar] = "product" [properrty] = "property" (deleteEvent)="deleteProduct($event)"></jce-product>
            </td>    
                
            <td *ngFor = "let categoryName of product.type">
                {{(categoryName | async)?.name}}
            </td>

            <td >
                <jce-product [properrty] = "5" (deleteEvent)="deleteProduct($event)"></jce-product>
            </td>


          </tr>
      </table>
 </div>



