<!--<p>
  product works!
</p>-->
  <span *ngIf = "properrty == 1">{{productVar.pid}}</span>
  <span *ngIf = "properrty == 2">{{productVar.pname}}</span>
  <span *ngIf = "properrty == 3">{{productVar.cost}}</span>
  <span *ngIf = "properrty == 4">{{productVar.categoryId}}</span>
  <span *ngIf = "properrty == 5"><button (click)= "sendDelete()">Delete</button></span>
  <!--Pid: {{product1.pid}}, Name: {{product1.pname}}, Cost: {{product1.cost}}, Category: {{product1.categoryId}}-->

